@import "./src/assets/scss/helpers/variables.scss";
@import "./src/assets/scss/helpers/colors.scss";
@import "./src/assets/scss/helpers/includes.scss";
@import "./src/assets/scss/helpers/mixins.scss";

.site-header{
  &__field{
     @include plh($text-color);
  }
}

.menu-trigger{

  @extend %orange-gradient-button;

  &__line-1,
  &__line-2,
  &__line-3{
    @extend %white-bg;
  }


  &.active{
    @extend %white-bg;
  }

  &.active &__line-1,
  &.active &__line-2,
  &.active &__line-3{
    @extend %orange-bg;
  }
}


.site-header{
  @extend %light-bg;
  padding: 25px 0;
  height: 100px;
  font-family: $ffs;
  line-height: 50px;
}

.menu-trigger{
  vertical-align: middle;
  display: inline-block;
  width: 50px;
  height: 50px;
  box-shadow: 0 2px 2px rgba(89, 98, 112, 0.5);
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  text-align: center;
  margin-left: 17px;

  @extend %orange-gradient-button;

  &__inner{
    width: 20px;
    height: 20px;
    position: absolute;
    @extend %abs_c;
    justify-content: space-between;
    transition: all .3s;
  }

  &__line-1,
  &__line-2,
  &__line-3{
    display: block;
    box-shadow: 1px 1px 2px rgba(89, 98, 112, 0.5);
    background: #fff;
    vertical-align: middle;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    transition: all .3s;
    transform-origin: 50% 50%;
    margin: auto;
    position: absolute;
  }

  &__line-1{
    top: 0;
  }

  &__line-2{
     @extend %abs_c;
  }

  &__line-3{
    bottom: 0;
  }

  &.active{
    background: #fff;
  }

  &.active &__inner{
    width: 28px;
    height: 28px;
    transform: rotateZ(45deg);
  }

  &.active &__line-1,
  &.active &__line-2,
  &.active &__line-3{
    box-shadow: 0 0 0 rgba(89, 98, 112, 0.5);
  }

  &.active &__line-1{
    bottom: 0;
  }

  &.active &__line-2{
    width: 0;
  }

  &.active &__line-3{
    top: 0;
    transform: rotateZ(-90deg);
  }
}

.logo{
  text-decoration: none;
  font-size: 33px;
  font-weight: 400;
  text-shadow: 0 2px 2px rgba(89, 98, 112, 0.5);
  color: #fff;
  display: inline-block;
  vertical-align: middle;
}

.search-block{
  @extend %dark-bg;
  border-radius: 25px;
  padding: 12px 16px 16px 10px;
  box-sizing: border-box;
  max-height: 100%;
  max-width: 387px;
  display: block;
  max-height: 50px;

  &__submit{
    border: 0;
    margin: 0;
    padding: 0;
    background-color: transparent;
    outline: 0;
  }

  &__icon{
    display: inline-block;
    width: 26px;
    height: 26px;
    vertical-align: middle;
  }

  &__field{
    line-height: 22px;
    vertical-align: middle;
    width: calc(100% - 50px);
    background-color: transparent;
    border: 0;
    outline: 0;
    font-size: 22px;
    vertical-align: top;
    text-indent: 7px;

    &:focus{
      @include plh(transparent);
    }
  }

  form{
    display: block;
    line-height: 22px;
  }
}

.buttons-block{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex-flow: row nowrap;
}


.user-block{
  @extend %contrast-color;
  font-size: 22px;
  float: right;

  &__icon{
    margin-left: 5px;
    width: 50px;
    height: 50px;
    box-shadow: 0 2px 2px rgba(89, 98, 112, 0.5);
    border: 2px solid #e8ecf0;
    opacity: 0.5;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: center;

    svg{
      display: inline-block;
      vertical-align: middle;
    }
  }

  &__name{
    display: inline-block;
    vertical-align: -4px;
  }
}

.fly-cart{
  &__icon{
    display: inline-block;
    box-shadow: 0 6px 6px rgba(178, 72, 65, 0.3);
    @extend %orange-gradient-button;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    position: relative;

    svg{
      @extend %abs_c;
    }

    &.active{
      @extend %white-bg;
    }
  }

  float: left;
}

.main-menu{
  position: fixed;
  right: 10px;
  top: 112px;
  bottom: 112px;
  background-color: $dark-background;
  font-family: $ffs;
  overflow: auto;
  transition: all .3s;
  transform: translateX(150%);

  &.shown{
    transform: translateX(0);
  }

  &__list{
    padding: 0;
    margin: 0;
  }

  &__item{
    list-style-type: none;
    position: relative;
    transition: all .3s;

    &_lvl-1{
      border-bottom: 1px solid  $darkest-background;

      &[data-expanded="no"]{


        &:hover{
          background-color: $light-background;
        }
      }
    }

    &_lvl-1{

    }

    &.has-child{
      &[data-expanded="yes"]{
        @extend %orange-gradient-button;
      }
    }
  }

  &__link{
    display: block;
    text-decoration: none;
    min-width: 285px;
    position: relative;

    &_lvl-1{
      color: $white;
      font-size: 33px;
      line-height: 40px;
      padding: 20px 54px 20px 20px;
    }


    &_lvl-2{
      font-size: 22px;
      line-height: 24px;
      font-family: $ffs;
      color : $orange-1;
      padding: 5px 54px 5px 20px;

    }
  }
}

.submenu-holder{
  display: none;
  background: $darkest-background;
}



.submenu{
  margin: 0;
  padding: 0;
}

