.button{
  display: inline-block;
  text-decoration: none;
  transition: all .1s;

  @extend %orange-gradient-button;
  @extend %contrast-color;

  &__half{
    width: 50%;
    text-align: center;
    padding: 0 10px;
    box-sizing: border-box;
    font-size: 22px;

    &:nth-child(1){
      border-radius: 0 25px 25px 0;
    }

    &:nth-child(2){
      border-radius: 25px 0 0 25px;
    }

    &:active,
    &.active{
      @extend %marked-color-1;
      @extend %white-bg;
    }
  }
}

.arrow-marker{
  position: absolute;
  right: 31px;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 10px;
  height: 11px;
  display: block;
  transition: all .1s;
  transform-origin: 50% 50%;

  svg{
    fill: $orange-1;
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    vertical-align: top;
    transition: all .2s;
  }

  &.rotated{
    svg{
      fill: $dark-background;
    }

    transform:rotateZ(-90deg);
  }
}

[data-expanded="no"] a:hover .arrow-marker{
  svg{
    fill: $orange-2;
  }
}
