$break-point-xs: 480px;
$break-point-sm: 552px;
$break-point-md: 768px;
$break-point-lg: 980px;
$break-point-xl: 1280px;
$break-point-xxl: 1600px;

//
//colors

$light-background: #8f97a1;
$dark-background: #596270;
$title-color: #2D3643;
$subtitle-color: #596270;
$text-color: #8F97A2;
$orange-1: #F27E6E;
$orange-2: #FFA18C;
$green: #27AE60;

//font

$ffa: 'Alef', sans-serif;
$ffs: 'Secular One', sans-serif;